<ng-content select="h1"></ng-content>

<hr>

<div *ngIf="nome != 'Lucas'">
<p [ngClass]="{'active': valor, 'disabled': !valor} ">NgClass</p>
<p [ngStyle]="{'height': height, 'background': backgroundColor} ">NgStyle</p>
</div>

<hr>

<input type="text" [(ngModel)]="nome"> {{nome}}
<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{item.nome}}</li>

<!-- <ng-template ngFor let-item [ngForOf]="list">

  <p>
    {{item.nome}}
  </p>

</ng-template> -->

<ng-content select="hr"></ng-content>
